<main class="todo-container">
  <div class="add-task">
      <input [(ngModel)]="newTask" placeholder="Enter new task" />
      <button (click)="addTask()">Add</button>
  </div>
  <ul class="task-list">
    <ul class="task-list">
      <li *ngFor="let todoItem of todoListTask1; let i = index" [ngClass]="{'completed': todoItem.completed}">
        <input 
          type="checkbox" 
          [(ngModel)]="todoItem.completed" 
          (change)="toggleCompleted(i)"
        />
        <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
        <button (click)="deleteTask(todoItem.id)">Delete</button>
      </li>
    </ul>
     </ul>
</main>
<router-outlet></router-outlet>

